.hashtag-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.hashtag-header h1 {
    font-size: 30px;
    font-weight: 700;
    color: #4B3B2F;
    margin-left: 28px;
}

.hashtag-controls {
    display: flex;
    gap: 8px;
    align-items: center;
}

.tag-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    overflow-y: auto;
}

.hashtag-container {
    padding: 80px;
    background-color: #FEF9F3;
}