.home-container {
    padding: 60px 60px;
}

.all-container {
    background-color: var(--color-ligth-beige);
    border-radius: 60px;
    margin-top: 40px;
    padding: 30px 60px 60px 60px;
}

.all-reviews-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 60px 0 60px;
    
}

.all-reviews-container h2 {
    margin: 0;
}

.home-list {
    margin: 74px 60px 0 60px;
}