.write-page {
    min-height: 100vh;
    background: var(--color-ligth-beige);               /* --color-light-beige(#F8F2EC)와 유사 */
    display: flex;
}

.write-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    background: var(--color-ligth-beige);               /* --color-light-beige(#F8F2EC)와 유사 */
    border-radius: 24px;
    margin: 20px;
}

.write-left {
    width: 40%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.add-button {
    width: 70px;
    height: 70px;
    background: var(--color-dark-brown);   /* #5A4636 */
    border-radius: 12px;
    color: var(--color-white);             /* white */
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 330px;
}

.write-right {
    width: 60%;
    padding: 60px 5%;
    border-left: 1px solid var(--color-beige);        /* --color-beige(#DBC9B8)와 유사 */
    display: flex;
    flex-direction: column;
    background: var(--color-white);        /* white */
    border-radius: 0px 25px 25px 0px;
}

.back-button {
    position: absolute;
    top: 40px;
    left: 35px;
    color: var(--color-dark-brown);        /* #5a4636 */
    cursor: pointer;
    z-index: 10;
}

@media (max-width: 900px) {

    .write-container {
        flex-direction: column;
    }

    .write-left,
    .write-right {
        width: 100%;
    }

    .write-right {
        border-left: none;
        border-top: 1px solid var(--color-beige);     /* --color-beige(#DBC9B8)와 유사 */
        border-radius: 0 0 25px 25px;
        padding: 40px 30px;
    }

    .add-button {
        margin-bottom: 40px;
    }
}