.media-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* 선택된 미디어 카드 */
.media-preview {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 6px;
}

.media-preview img {
    width: 120px;
    height: 170px;
    object-fit: cover;

    border-radius: 6px;
}

.media-title {
    font-size: 18px;
    font-weight: 600;
}

.media-creator {
    font-size: 14px;
    color: #666;
}

.media-genre {
    font-size: 12px;
    color: #999;
}