.review-filter {

}

button {
    background: var(--color-white);        /* #ffffff */
    color: var(--color-dark-brown);        /* #5A4636 */
    border: solid 1px var(--color-dark-brown);
    border-radius: 20px;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

button.active {
    background: var(--color-dark-brown);   /* #5A4636 */
    color: var(--color-white);             /* #ffffff */
}