.review-filter {
    
}

button {
    background: #ffffff;
    color: #5A4636;
    border: solid 1px #5A4636;
    border-radius: 20px;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    width: 85px;
}

button.active {
    background: #5A4636;
    color: #ffffff;
}