select {
    border: solid 1px #5A4636;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    width: 120px;
    color: #5A4636;
    background: #FEF9F3;
    margin-right: 28px;
}