:root {
  font-family: Noto Sans, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;

    --color-dark-brown: #584635;
    --color-dark-gray: #3C3C3C;
    --color-light-beige: #DBC9B8;
    --color-white: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 라이트 모드 */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-dark-brown);
    background-color: #ffffff;
  }
}

/* 다크 모드 */
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-light-beige);
    background-color: #242424;
  }
}